# DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호변환

In [1]:
import numpy as np
import pandas as pd

## df-생성방법

In [3]:
# 3개의 컬럼으로 이름을 짓는다.
col_name1 = ['col1','col2','col3']

# (2,3)형태의 list를 생성 -> ndarray로 변형 -> DataFrame으로 변환..
l2 = [[1,2,3],
     [11,22,33]]

array2d = np.array(l2)
print('array2d shape:\n', array2d.shape)
df_l2 = pd.DataFrame(l2, columns=col_name1) # 2차원 데이터
print('2차원 리스트로 만든 df:\n', df_l2)
df_array2d = pd.DataFrame(array2d, columns=col_name1)
print('2차원 ndarray로 만든 df:\n', df_array2d)

array2d shape:
 (2, 3)
2차원 리스트로 만든 df:
    col1  col2  col3
0     1     2     3
1    11    22    33
2차원 ndarray로 만든 df:
    col1  col2  col3
0     1     2     3
1    11    22    33

In [4]:
# dict -> dataframe 생성
dict123 = {'col1':[1,11],
          'col2':[2,22],
           'col3':[3,33]}
df_dict123 = pd.DataFrame(dict123)
df_dict123

   col1  col2  col3
0     1     2     3
1    11    22    33

## df를 다른 자료형으로 변환

In [7]:
# 1. df.values를 통해 -> ndarray로 변환
array3_dic = df_dict123.values
print('array3_dic.values의 타입:', type(array3_dic))
print('array3_dic의 shape:', array3_dic.shape)

array3_dic.values의 타입: <class 'numpy.ndarray'>
array3_dic의 shape: (2, 3)

In [8]:
# 2 df.values -> ndarray를 -> list로 변환
df_dict123.values.tolist()

[[1, 2, 3], [11, 22, 33]]

In [12]:
# DataFrame을 리스트로 변환
list3 = df_dict123.values.tolist()
print('df_dict.tolist()타입:',type(list3))
print(list3)

df_dict.tolist()타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

In [10]:
# 3 df.to_dict() -> dict로 변환
df_dict123.to_dict('list')
df_dict123

   col1  col2  col3
0     1     2     3
1    11    22    33

In [13]:
# end of file