In [2]:
# q1. jeju 데이터를 로드해보세요. 컬럼이 한글이므로 적절한 처리가 필요

In [3]:
# q2. 데이터의 마지막 3개 행을 호출해보세요.

In [4]:
# q3. 범주형 변수를 가진 컬럼을 출력해보세요.

In [5]:
# q4. 숫자형 변수를 가진 컬럼을 출력해보세요.

In [6]:
# q5. 각 컬럼들의 결측치 숫자들을 파악해보세요.

In [7]:
# q6. 각 컬럼의 데이터수, 데이터타입을 한 번에 확인해보세요.

In [8]:
# q7. 거주인구, 근무인구와 방문인구, 총 유동인구로만 구성된 df를 만드세요.

In [ ]:
# q8 위에서 생성된 df에 행을 추가해주세요
# 추가 행값은 min값으로 해주세요.

In [11]:
# q9. 총 유동인구 컬럼의 값들을 출력해보세요.

In [10]:
# q10. 시도명의 유일값의 개수를 구해보세요.